<p fundoAmarelo >Texto com fundo amarelo</p>

<button fundoAmarelo>Botão com fundo Amarelo</button>

<p highlightMouse>texto com highlight quando passo o mouse</p>

<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">Texto com highlight com cores customizadas</p>


<h5> Diretiva Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos">
  Lista de cursos
</div>

<div *ngElse="mostrarCursos">
  Não existe cursos para serem listados
</div>
<br>
<button (click)="onMostarCursos()">Mostrar ou esconder cursos</button>


