<!--<h5>Styles com property binding (style binding)</h5>
<button
  [style.backgroundColor] ="ativo ? 'blue' : 'gray'";
  [syle.color]="ativo ? 'white' : 'black'";
  [style.fontWeight]="ativo ? 'bold' : 'normal'";
  [style.fontSize]="tamanhoFonte + 'px'";
  (click)="mudarAtivo()"
  >
  Mudar atributo 'ativo';

</button>

<input type="text" [(ngModel)]="tamanhoFonte">-->

<h5> Styles com diretivas ngStyles</h5>
<button
  [ngStyle]="{
  'backgroundColor' : (ativo ? 'blue' : 'gray'),
  'color' : (ativo ? 'white' : 'black'),
  'fontWeight' : (ativo ? 'bold' : 'normal'),
  'fontSize' : (tamanhoFonte + '%')
  }"
  (click)="mudarAtivo()"
> Mudar atributo 'ativo'
</button>
