<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
  <!--FORMULARIO DE NOME-->
  <div class="form-group" [ngClass]="aplicaCssError(nome)">

    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome"
             name="nome" placeholder="Nome" [ngModel]="usuario.nome"
             required #nome="ngModel">

<app-campo-controle-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatorio">
</app-campo-controle-erro>
    </div>
  </div>

  <!--FORMULARIO DE EMAIL-->
  <div class="form-group" [ngClass]="aplicaCssError(email)">

    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>


      <input type="email" class="form-control" id="email"
             name="email" placeholder="nome@email.com" [ngModel]="usuario.email"
             required email #email="ngModel">

      <app-campo-controle-erro [mostrarErro]="verificaValidTouched(email)" msgErro="Email é obrigatorio">
      </app-campo-controle-erro>
    </div>
  </div>

<div ngModelGroup="endereco">
  <!--FORMULARIO DE CEP-->
  <div class="form-group">
    <div class="col-md-3" [ngClass]="aplicaCssError(cep)">

      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep"
             name="cep" ngModel required #cep="ngModel"
      (blur)="consultaCEP($event.target.value)">

      <app-campo-controle-erro [mostrarErro]="verificaValidTouched(cep)" msgErro="CEP é obrigatorio">
      </app-campo-controle-erro>
    </div>

    <!--FORMULARIO DE NUMERO-->
    <div class="col-md-3" [ngClass]="aplicaCssError(numero)">
      <label for="numero" class="control-label">Número</label>
      <input type="text" class="form-control" id="numero"
             name="numero" ngModel required #numero="ngModel">

      <app-campo-controle-erro [mostrarErro]="verificaValidTouched(numero)" msgErro="Número é obrigatorio">
      </app-campo-controle-erro>
    </div>

    <!--FORMULARIO DE COMPLEMENTO-->

    <div class="col-md-6" [ngClass]="aplicaCssError(complemento)">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento"
             name="complemento" ngModel #complemento="ngModel">
    </div>
  </div>

  <!--FORMULARIO DE RUA-->
  <div class="form-group"[ngClass]="aplicaCssError(rua)">

    <div class="col-sm-12">
      <label for="rua" class="control-label">Rua</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="rua"
             name="rua" [ngModel]="usuario.rua"
             required #rua="ngModel" readonly>

      <app-campo-controle-erro [mostrarErro]="verificaValidTouched(rua)" msgErro="Rua é obrigatorio">
      </app-campo-controle-erro>
    </div>

    <!--FORMULARIO DE BAIRRO-->
    <div class="col-md-5" [ngClass]="aplicaCssError(bairro)">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="text" class="form-control" id="bairro"
             name="bairro" ngModel required #bairro="ngModel">

      <app-campo-controle-erro [mostrarErro]="verificaValidTouched(bairro)" msgErro="Bairro é obrigatorio">
      </app-campo-controle-erro>
    </div>

    <!--FORMULARIO DE CIDADE -->
    <div class="col-md-4" [ngClass]="aplicaCssError(cidade)">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="text" class="form-control" id="cidade"
             name="cidade" ngModel required #cidade="ngModel">

      <app-campo-controle-erro [mostrarErro]="verificaValidTouched(cidade)" msgErro="Cidade é obrigatorio">
      </app-campo-controle-erro>
    </div>


    <!--FORMULARIO DE ESTADO -->
    <div class="col-md-2" [ngClass]="aplicaCssError(estado)">
      <label for="estado" class="control-label">Estado</label>
      <input type="text" class="form-control" id="estado"
             name="estado" ngModel required #estado="ngModel">

      <app-campo-controle-erro [mostrarErro]="verificaValidTouched(estado)" msgErro="Estado é obrigatorio">
      </app-campo-controle-erro>
    </div>
  </div>

</div>


  <button type="submit" class="btn btn-primary"
          [disabled]="!f.valid">Submit
  </button>

  <app-form-debug [form]="f"></app-form-debug>
</form>
